@font-face {
  font-family: "OpenSans";
  src: url(./fonts/OpenSans-VariableFont_wdth\wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #020a18;
}
a {
  text-decoration: none;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 40px;
  height: 100px;
  background-color: #0a111f;
}
.navigation .menu__link .nav__link {
  background-color: #020a18;
  font-family: "OpenSans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
}

.main_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 128px;
  margin: 0 auto;
  padding-top: 160px;
}

.sm_title h3 {
  color: #3a68b8;
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.main_title h1 {
  padding-top: 10px;
  width: 604px;
  color: #fff;
  font-family: "OpenSans";
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
}
.text_main_page p {
  padding-top: 40px;
  width: 558px;
  color: #fff;
  font-family: "OpenSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.btn_panel_main_page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
}
.btn_panel_main_page .btn  {
  border: none;
  padding: 15px 30px;
 
  font-family: "OpenSans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border-radius: 5px;
  background: #3a68b8;
}
.btn_panel_main_page .btn a{
  color: #fff;  
}
.img_play {
  padding-right: 10px;
}
.logo_panel {
  height: 59px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 71px;
  padding-top: 212px;
  margin: 0 auto;
}
